<!DOCTYPE html>
<head>
<title>Robot</title>
<link rel="stylesheet" href="bootstrap/css/bootstrap.css" />
</head>
<style>
a
{
text-decoration:none;
padding:3px;
}
body
{
background-color:#222222;
}	
</style>
<body>
<h1 class="text-center text-primary">Live Streaming</h1>
<br />
<center><img src="img.jpg" class="img-responsive" alt="bot-video" width="640px" height="400px" /></center>
<br />
<center><a href="/forward"><button class="btn-primary btn">FORWARD</button></a></center>
<div style="margin-left:42%;">
<a href="/left"><button class="btn-primary btn">LEFT</button></a>
<a href="/stop"><button class="btn-danger btn">STOP</button></a>
<a href="/right"><button class="btn-primary btn">RIGHT</button></a>
</div>
<a href="/backward"><button class="btn-primary btn" style="margin-left:46%"> BACKWARD</button></a>
</body>
</html>
</body>
</html>

